body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-20px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:160px;
  width:320px;
  height:340px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:340px;
}
#u3 {
  position:absolute;
  left:2px;
  top:162px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:96px;
  width:46px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:56px;
  top:96px;
  width:264px;
  height:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:46px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:66px;
  top:99px;
  width:55px;
  height:19px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:66px;
  top:122px;
  width:225px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:92px;
  width:320px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
