<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="wucho" name="author" />
    <title>ProjectName-moduleName</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-switch.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>
<body>

<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RTA</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">修改密码</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->


<div class="page-container">
    <div class="row">

        <div class="col-md-2 ">
            <!--！！！！！！！！！！！！！！这个导航都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
            <div class="nav-container">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="providerManagement.html">供应商管理</a>
                    </li>
                    <li>
                        <a href="providerMemberManagement.html">供应商账号管理</a>
                    </li>
                    <li>
                        <a href="ticketManagement.html">景点门票管理</a>
                    </li>
                    <li>
                        <a href="hotelManagement.html">酒店信息管理</a>
                    </li>
                    <li>
                        <a href="votureManagement.html">优惠券管理</a>
                    </li>
                    <li>
                        <a href="packageManagement.html">打包产品管理</a>
                    </li>
                    <li>
                        <a href="ticketPriceInput.html">门票价格录入</a>
                    </li>
                    <li>
                        <a href="hotelPriceInput.html">酒店价格录入</a>
                    </li>
                    <li>
                        <a href="voturePriceInput.html">优惠券价格录入</a>
                    </li>
                    <li>
                        <a href="ticketPriceQuery.html">门票价格查询</a>
                    </li>
                    <li>
                        <a href="hotelPriceQuery.html">酒店价格查询</a>
                    </li>
                    <li>
                        <a href="voturePriceQuery.html">优惠券价格查询</a>
                    </li>
                    <li>
                        <a href="packagePriceQuery.html">打包产品价格查询</a>
                    </li>
                    <li>
                        <a href="ticketPriceAudit.html">门票价格审核</a>
                    </li>
                    <li>
                        <a href="hotelPriceAudit.html">酒店价格审核</a>
                    </li>
                    <li>
                        <a href="voturePriceAudit.html">优惠券价格审核</a>
                    </li>
                    <li>
                        <a href="newsManagement.html">旅游咨询管理</a>
                    </li>
                </ul>
            </div>
           <!--！！！！！！！！！！！！！！这个导航都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
    </div>

     <div class="col-md-10">
         <div class="row">
             <!--这一部分为查询栏-->
             <div class="col-md-12">
                 <form class="form-horizontal" role="form">
                     <div class="form-group">
                         <label class="control-label col-md-1" for="searchCity">城市：</label>
                         <div class="col-md-2">
                             <input type="text" id="searchCity" class="form-control">
                         </div>
                         <label class="control-label col-md-1" for="searchName">打包产品：</label>
                         <div class="col-md-2">
                             <input type="text" id="searchName" class="form-control">
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-md-1" for="searchEffect">有效期：</label>
                         <div class="col-md-2">
                             <input type="text" id="searchEffect" class="form-control">
                         </div>
                         <span class="col-md-1">~~</span>
                         <div class="col-md-2">
                             <input type="text" id="searchExpiry" class="form-control">
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="control-label col-md-1" for="searchisEnable">是否有效：</label>
                         <div class="col-md-2">
                             <select id="searchisEnable" class="form-control" >
                                 <option value="true">有效</option>
                                 <option value="false">无效</option>
                             </select>
                         </div>
                         <div class="col-md-1 col-md-offset-1">
                             <button id="query" class="btn btn-danger form-control">查询</button>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
         <div class="row">
             <!--这一部分是按钮栏-->
             <div class="col-md-12">
                <button type="button" class="btn bg-primary" data-toggle="modal" data-target="#createVoturePriceModal">新增一条价格记录</button>
             </div>
         </div>
         <div class="row">
             <!--这一部分是分页栏 以及 表格栏-->
             <div class="col-md-12">
                <ul class="pagination">
                 <li><a href="#">&laquo;</a></li>
                 <li><a href="#"> 1</a></li>
                 <li><a href="#">2</a></li>
                 <li><a href="#">3</a></li>
                 <li><a href="#">4</a></li>
                 <li><a href="#">5</a></li>
                 <li><a href="#">55</a></li>
                 <li><a href="#">&raquo;</a></li>
             </ul>
                <table id="provider" class="table table-bordered table-hover" ="0" width="100%">
                 <thead>
                 <tr>
                     <th>产品名称</th>
                     <th>开始日期</th>
                     <th>结束日期</th>
                     <th>价格/库存</th>
                     <th>周末定义</th>
                     <th>录入员</th>
                     <th>状态</th>
                     <th>录入时间</th>
                 </tr>
                 </thead>
                 <tr>
                     <td>产品名称</td>
                     <td>开始日期</td>
                     <td>结束日期</td>
                     <!--所有价格显示按照周中/周末形式显示，如果周中价格==周末价格 则仅显示一个价格-->
                     <!--如果是大库存，仅显示 inventory,并用(总库存)标注， 如果是小库存，则显示周中/周末库存  ，如果周中价格==周末价格 则仅显示一个库存-->
                     <td>
                     底价: 500/600<br>
                     卖价: 800/900<br>
                     打包价: 800/900<br>
                     市场价: 800/900<br>
                     库存: 800/900
                     </td>
                     <td>5,6</td>
                     <td>王大江</td>
                     <td>新录入</td>
                     <td>2010-01-01 15:00</td>
                 </tr>
             </table>
             </div>
         </div>
    </div>
    </div>
</div>

</body>




<div class="modal fade" id="createVoturePriceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增优惠券价格记录</h4>
            </div>
            <form role="form" class="form-horizontal">
            <div class="modal-body">
                   <div class="form-group">
                        <label for="city" class="col-md-2 control-label">城市</label>
                       <div class="col-md-4"><select class="form-control" id="city"><option>上海</option></select></div>
                        <label for="name" class="col-md-2 control-label">产品名称</label>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder="请输入产品名称" id="name"></div>
                   </div>


                    <div class="form-group">
                        <label for="startDate" class="col-md-2 control-label">有效期</label>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder="有效期开始" id="startDate"></div>
                        <div class="col-md-1">~~</div>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder="有效期结束" id="endDate"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" >价格类型</label>
                        <label class="col-md-2 col-md-offset-0 control-label" >周中</label>
                        <label class="col-md-2 col-md-offset-2 control-label" >周末</label>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="cost">底价</label>
                        <div class="col-md-4"><input type="text" class="form-control" id="cost"></div>
                        <div class="col-md-4"><input type="text" class="form-control" id="costWeekend"></div>
                    </div>

                    <div class="form-group">
                         <label class="col-md-2 control-label" for="price">卖价</label>
                         <div class="col-md-4"><input type="text" class="form-control" id="price"></div>
                         <div class="col-md-4"><input type="text" class="form-control" id="priceWeekend"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="packagePrice">打包价</label>
                        <div class="col-md-4"><input type="text" class="form-control" id="packagePrice"></div>
                        <div class="col-md-4"><input type="text" class="form-control" id="packagePriceWeekend"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="marketPrice">市场价</label>
                        <div class="col-md-4"><input type="text" class="form-control" id="marketPrice"></div>
                        <div class="col-md-4"><input type="text" class="form-control" id="marketPriceWeekend"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="inventory" >库存</label>
                        <div class="col-md-4"><input type="text" class="form-control" id="inventory"></div>
                        <div class="col-md-3"><input type="text" class="form-control" id="inventoryWeekend"></div>
                        <div class="col-md-3">
                            <select class="form-control" id="inventoryType">
                                <option value="0">单日</option>
                                <option value="1">总量</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                            <label class="col-md-2 control-label" >周末定义</label>
                            <label class="col-md-2">
                                周一<input type="checkbox">
                            </label>
                            <label class="col-md-2">
                                周二<input type="checkbox">
                            </label>
                            <label class="col-md-2">
                                周三<input type="checkbox">
                            </label>
                            <label class="col-md-2">
                                周四<input type="checkbox">
                            </label>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-md-offset-2">
                            周五<input type="checkbox">
                        </label>
                        <label class="col-md-2">
                            周六<input type="checkbox" checked>
                        </label>
                        <label class="col-md-2">
                            周日<input type="checkbox" checked>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="providerInfo" class="col-md-2 control-label">供应商</label>
                        <div class="col-md-10">
                            <select class="form-control" id="providerInfo">
                                <option value="providerID">providerName</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="providerInfo" class="col-md-2 control-label">操作员</label>
                        <div class="col-md-10"><input type="text" class="form-control" readonly></div>
                    </div>



            </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="createVoture">保存</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap-switch.js"></script>
<script src="./js/footer.js"></script>


<script>
    $(document).ready(function() {
        $('#isEnable').bootstrapSwitch();
    } );
</script>

</html>