body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:35px;
  width:320px;
  height:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:45px;
  width:109px;
  height:33px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:100px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:170px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:8px;
  top:6px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:277px;
  top:10px;
  width:33px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:120px;
  top:7px;
  width:81px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:170px;
  top:45px;
  width:100px;
  height:33px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:100px;
  width:90px;
  height:63px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:63px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:118px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:185px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:255px;
  width:320px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u24 {
  position:absolute;
  left:20px;
  top:185px;
  width:90px;
  height:63px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:63px;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:120px;
  top:203px;
  width:200px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:120px;
  top:222px;
  width:50px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u29 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:400px;
  width:320px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:14px;
  top:404px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:90px;
  top:404px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:169px;
  top:404px;
  width:134px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:360px;
}
#u41_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:26px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:70px;
  top:8px;
  width:50px;
  height:26px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:150px;
  top:14px;
  width:170px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u41_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u41_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:220px;
  top:7px;
  width:100px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:82px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:145px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:7px;
  top:14px;
  width:65px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:0px;
  top:90px;
  width:320px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:120px;
  top:137px;
  width:50px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
