body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:405px;
  width:320px;
  height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:385px;
  width:320px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:14px;
  top:389px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:90px;
  top:389px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:169px;
  top:389px;
  width:134px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:345px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:26px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:70px;
  top:8px;
  width:50px;
  height:26px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:150px;
  top:14px;
  width:170px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:7px;
  width:100px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:145px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:7px;
  top:14px;
  width:65px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:348px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:348px;
}
#u29 {
  position:absolute;
  left:2px;
  top:166px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:28px;
  top:75px;
  width:264px;
  height:38px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:38px;
  background-image:;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u31 {
  position:absolute;
  left:254px;
  top:80px;
  width:28px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:28px;
  top:132px;
  width:264px;
  height:38px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:38px;
  background-image:;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u34 {
  position:absolute;
  left:254px;
  top:136px;
  width:28px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:28px;
  top:188px;
  width:94px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:230px;
  top:188px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:28px;
  top:221px;
  width:264px;
  height:42px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:42px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:17px;
  top:292px;
  width:288px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u42 {
  position:absolute;
  left:28px;
  top:311px;
  width:105px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:8px;
  top:6px;
  width:22px;
  height:22px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:140px;
  top:7px;
  width:41px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
