<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <meta content="width=device-width ,initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="wucho" name="author" />
    <title></title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="./css/jquery.fileupload.css" rel="stylesheet">-->
    <link href="./css/ui-lightness/jqueryui.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <style>
        #createModal .modal-dialog{
            width:800px;
        }
    </style>
</head>
<body>

<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<%include header%>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<div class="page-container">
    <div class="row">

        <include modules>

        <div class="col-md-10">
            <div class="row">
                <!--这一部分为查询栏-->
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="GET" id="queryForm">
                        <div class="form-group">
                            <label class="control-label col-md-1" for="searchProvider">企业：</label>
                            <div class="col-md-2">
                                <select id="searchProvider" name="searchProvider" class="form-control">
                                   <%data.forEach(function(obj){%>
                                      <option value="<%=obj._id%>"><%=obj.name%></option>
                                    <%});%>
                                </select>
                            </div>
                            <label class="control-label col-md-1" for="searchMember">账号：</label>
                            <div class="col-md-2">
                                <select id="searchMember" name="searchMember" class="form-control">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-1">
                                <button id="query" class="btn btn-danger form-control" type="submit">查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



            <div class="row">
                <!--这一部分是按钮栏-->
                <div class="col-md-12">

                </div>
            </div>
            <div class="row" id="queryResult">
                <!--这一部分是分页栏 以及 表格栏-->

            </div>
        </div>
    </div>
</div>

</body>









<script src="./js/jquery.min.js"></script>
<script src="./js/jqueryui.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/underscore.min.js"></script>
<script src="./js/footer.js"></script>
<script src="./js/common/rightsManagement.js"></script>



<script>
    $(document).ready(function() {
    } );
</script>

</html>