<!DOCTYPE html>
<html  ng-app="pacakgeManagementApp">
<head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="wucho" name="author" />
    <title>ProjectName-moduleName</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-switch.css" rel="stylesheet">
    <link href="./css/jquery.fileupload.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>
<body>

<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RTA</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">修改密码</a></li>
                <li><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->

<div class="page-container" ng-controller="packageMainController">
    <div class="row">

        <div class="col-md-2 ">
            <!--！！！！！！！！！！！！！！这个导航都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
            <div class="nav-container">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a data-toggle="collapse" href="#供应商">供应商</a>
                        <ul id="供应商" class="collapse MyNav">
                            <li><a href="providerManagement.html">供应商管理</a></li>
                            <li><a href="providerMemberManagement.html">供应商账号管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse"  href="#产品管理">产品管理</a>
                        <ul id="产品管理" class="MyNav collapse">
                            <li><a href="ticketManagement.html">景点门票管理</a></li>
                            <li><a href="hotelManagement.html">酒店信息管理</a></li>
                            <li><a href="votureManagement.html">优惠券管理</a></li>
                            <li><a href="packageManagement.html">打包产品管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#价格管理">价格管理</a>
                        <ul id="价格管理" class="collapse MyNav">
                            <li><a href="ticketPriceInput.html">门票价格录入</a></li>
                            <li><a href="hotelPriceInput.html">酒店价格录入</a></li>
                            <li><a href="voturePriceInput.html">优惠券价格录入</a></li>
                            <li><a href="ticketPriceQuery.html">门票价格查询</a></li>
                            <li><a href="hotelPriceQuery.html">酒店价格查询</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--！！！！！！！！！！！！！！这个导航都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
        </div>

        <div class="col-md-10">


            
        </div>
    </div>
</div>

</body>









<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/footer.js"></script>


<script>
    $(document).ready(function() {
    } );
</script>

</html>