<!DOCTYPE html>
<html  ng-app="pacakgeManagementApp">
<head>
    <meta charset="utf8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="wucho" name="author" />
    <title>ProjectName-moduleName</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>
<body>

<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<%include header%>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->

<div class="page-container" ng-controller="packageMainController">
    <div class="row">
        <% include modules %>
        <div class="col-md-10">
        </div>
    </div>
</div>

</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/footer.js"></script>


<script>
    $(document).ready(function() {
    } );
</script>

</html>