body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:373px;
  width:302px;
  height:137px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:137px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:8px;
  top:71px;
  width:302px;
  height:265px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:265px;
}
#u3 {
  position:absolute;
  left:2px;
  top:124px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:8px;
  top:106px;
  width:302px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u5 {
  position:absolute;
  left:24px;
  top:347px;
  width:65px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:124px;
  top:84px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:24px;
  top:84px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:8px;
  top:525px;
  width:302px;
  height:45px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:8px;
  top:6px;
  width:22px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:277px;
  top:10px;
  width:33px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:140px;
  top:8px;
  width:41px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:8px;
  top:146px;
  width:302px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u21 {
  position:absolute;
  left:124px;
  top:124px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:24px;
  top:124px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:8px;
  top:185px;
  width:302px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u26 {
  position:absolute;
  left:24px;
  top:163px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:24px;
  top:205px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:122px;
  top:205px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:8px;
  top:278px;
  width:302px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u33 {
  position:absolute;
  left:124px;
  top:240px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:24px;
  top:254px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:24px;
  top:299px;
  width:69px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:650px;
  width:320px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:630px;
  width:320px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:14px;
  top:634px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:90px;
  top:634px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:169px;
  top:634px;
  width:134px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:590px;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:26px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:70px;
  top:8px;
  width:50px;
  height:26px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:150px;
  top:14px;
  width:170px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u50_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:220px;
  top:7px;
  width:100px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:82px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:145px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:7px;
  top:14px;
  width:65px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:122px;
  top:166px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:8px;
  top:232px;
  width:302px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u70 {
  position:absolute;
  left:124px;
  top:256px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:124px;
  top:298px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:24px;
  top:45px;
  width:65px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:8px;
  top:416px;
  width:302px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u77 {
  position:absolute;
  left:24px;
  top:390px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:8px;
  top:462px;
  width:302px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u80 {
  position:absolute;
  left:24px;
  top:436px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:24px;
  top:479px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:270px;
  top:387px;
  width:22px;
  height:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
