body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:440px;
  width:320px;
  height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:14px;
  top:424px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:90px;
  top:424px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:169px;
  top:424px;
  width:134px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:380px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:26px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:70px;
  top:8px;
  width:50px;
  height:26px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:150px;
  top:14px;
  width:170px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:7px;
  width:100px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:82px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:145px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:7px;
  top:14px;
  width:65px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:50px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u30 {
  position:absolute;
  left:2px;
  top:157px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:28px;
  top:40px;
  width:264px;
  height:40px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:40px;
  background-image:;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u32 {
  position:absolute;
  left:258px;
  top:45px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:28px;
  top:100px;
  width:264px;
  height:40px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:40px;
  background-image:;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u35 {
  position:absolute;
  left:258px;
  top:105px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:226px;
  top:158px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:28px;
  top:195px;
  width:264px;
  height:45px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:17px;
  top:270px;
  width:288px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u41 {
  position:absolute;
  left:28px;
  top:290px;
  width:105px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u44 {
  position:absolute;
  left:2px;
  top:157px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:48px;
  top:220px;
  width:70px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:108px;
  width:193px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:48px;
  top:250px;
  width:70px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:32px;
  top:94px;
  width:50px;
  height:50px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:48px;
  top:190px;
  width:223px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u28_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u28_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:330px;
}
#u56 {
  position:absolute;
  left:2px;
  top:157px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:100px;
  top:220px;
  width:75px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:100px;
  top:108px;
  width:193px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:32px;
  top:94px;
  width:50px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:100px;
  top:190px;
  width:155px;
  height:20px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:98px;
  top:12px;
  width:123px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:38px;
  top:17px;
  width:32px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:16px;
  top:14px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:275px;
  top:12px;
  width:25px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
