body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:71px;
  width:302px;
  height:169px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:169px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:8px;
  top:106px;
  width:302px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u3 {
  position:absolute;
  left:24px;
  top:45px;
  width:65px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:124px;
  top:84px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:171px;
  top:157px;
  width:33px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:259px;
  top:157px;
  width:33px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:211px;
  top:159px;
  width:41px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:24px;
  top:84px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:8px;
  top:547px;
  width:302px;
  height:45px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:45px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:8px;
  top:6px;
  width:22px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:277px;
  top:10px;
  width:33px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:120px;
  top:7px;
  width:81px;
  height:21px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:8px;
  top:146px;
  width:302px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u25 {
  position:absolute;
  left:124px;
  top:124px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:24px;
  top:124px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:8px;
  top:185px;
  width:302px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u30 {
  position:absolute;
  left:24px;
  top:163px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:24px;
  top:205px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#CCCCCC;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:122px;
  top:205px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-align:right;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:24px;
  top:250px;
  width:65px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:8px;
  top:276px;
  width:302px;
  height:136px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:136px;
}
#u39 {
  position:absolute;
  left:2px;
  top:60px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:24px;
  top:289px;
  width:268px;
  height:108px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:108px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:24px;
  top:422px;
  width:65px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:8px;
  top:452px;
  width:302px;
  height:85px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:85px;
}
#u45 {
  position:absolute;
  left:2px;
  top:34px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:8px;
  top:487px;
  width:302px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u47 {
  position:absolute;
  left:124px;
  top:465px;
  width:170px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:24px;
  top:465px;
  width:50px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:24px;
  top:505px;
  width:69px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:16px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:672px;
  width:320px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:652px;
  width:320px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:14px;
  top:656px;
  width:66px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:90px;
  top:656px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:169px;
  top:656px;
  width:134px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:612px;
}
#u64_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:10px;
  top:8px;
  width:50px;
  height:26px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:70px;
  top:8px;
  width:50px;
  height:26px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:150px;
  top:14px;
  width:170px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u64_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u64_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  text-align:left;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:220px;
  top:7px;
  width:100px;
  height:26px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:82px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:145px;
  top:14px;
  width:53px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:7px;
  top:14px;
  width:65px;
  height:13px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
