<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="utf-8">
    <title>万车游 关于我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/wcy.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
    <div class="bs-wcy-nav">
              <div class="container bs-wcy-headheight bs-wcy_headwidth">
                        <a class="bs-wcy-logo" href="#"></a>
                        <div class="bs-wcy-headword">完善信息，享自驾游专享价！</div>
                        <ul class="bs-wcy_navlist">
                            <li><a href="#">政府公告</a></li>
                            <li><a href="#">注册</a></li>
                            <li><a href="#">登录</a></li>
                         </ul>
              </div>
     </div>
     <div class="container bs-wcy_citybox">
     		<div class="bs-wcy_govnoticetitle">关于我们</div>
            <div class="bs-wcy_aboutUs">
       		  <h3>简介</h3>
              <p> 长三角自驾游产业论坛组委会是一个常设机构，于2011年4月根据解放日报报业集团文件批阅单“044号请示”的批复成立，并根据上海市松江区人民政府“沪松府抄字（2011）第68号”文件，由解放日报报业集团和上海佘山国家旅游度假区管理委员会担任主办单位；上海市松江区商务和旅游委员会、上海路骋旅游发展有限公司担任承办单位，后者负责秘书处工作。此后，为贯彻国家相关规定，政府机构不再担任主办单位，改由组委会自行主办，秘书处继续设立，根据“松商旅（2013）24号”文件，松江商旅委改任特别共建单位。</p>
                    <p>2011年6月，根据“沪旅函（2011）13号”文件，上海市旅游局担任论坛支持单位，2012年，上海市旅游局国内旅游促进处处长通知组委会，市局继续担任历届论坛支持单位， 不再发文。此外，安徽省旅游局以书面文件、江苏和浙江省旅游局、新华社上海分社以电话通知形式，决定担任论坛支持单位。三年来，组委会共收到全国130余家副省级、地市级旅游局以及市县区人民政府的书面文件，同意担任组委会共建单位。中央主要媒体新华社、中新社、人民日报、经济日报，以及长三角各主流媒体都是论坛特邀参与报道的新闻单位。</p>
                    <p> 2013年，论坛组委会根据上海市虹口区人民政府“虹府办告（2013）68号”文件、上海购物节组委会“沪购物办（2013）3号”文件、上海市虹口区旅游局 “虹旅（2013）7号”文件，设立长三角自驾游产业博览会组委会。同年，组委会开始筹建长三角自驾游专家委员会；成立优秀自驾游目的地发布中心、万车游项目运营中心、自驾游服务中心管理总部，分别负责历年优秀自驾游目的地城市联合发布会、万车游和自驾游服务中心的管理。</p>
                    <p>组委会是一个非盈利性常设性机构，不具法人资格，不进行经营性活动。主要推进自驾游五大平台的建设。欢迎各级政府旅游主管部门、景区、旅游企业、车友会俱乐部、媒体，以及自驾游上下游产业链的单位加入到我们的行列中来，让我们为自驾游产业更好、更快地可持续发展贡献一份力量。也呼唤更多有识之士，特别是专家、学者加入到自驾游的研究工作中来，为自驾游献计献策。</p>
              <h3>联系方式</h3>
              		<p class="contact">组委会秘书处联系方式</p>
                    <p class="contact">地址：上海市闸北区中山北路756号D303室</p>
                    <p class="contact">电话：021-61486885-809</p>
                    <p class="contact">传真：021-61486885-818</p>
            </div>
     </div>
     </div>
     
	<div id="footer" class="bs-wcy_footer">
      <div class="container bs-wcy_footerwidth">
        <p class="Copyright">©Copyright 2011-2014 万车游 All Rights Reserved. 沪ICP备08026014号 </p>
        <p class="link"><a href="#">关于万车游</a><a href="#">联系我们</a>客服电话 400-888-8888</p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>